.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

/* This is not required because the above width 80% will be suitable for any screens. The below 500px width might spoil the look for small screens */
/* @media (min-width: 700px) {
  .CheckoutSummary {
    width: 500px;
  }
} */
