.NavigationItem {
  margin: 0;
  box-sizing: border-box;
  display: flex; /*This is applied on li tag and it acts as a flex container for the 'a' tag inside it*/
  align-items: center;
  height: 100%;
}

.NavigationItem a {
  color: white;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
  display: block; /* with this, the height has an effect */
}

.NavigationItem a:hover,
.NavigationItem a.active,
.NavigationItem a:active {
  background-color: #8f5c2c;
  border-bottom: 4px solid #40a4c8;
  color: white;
}
